@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}

<h2>Easy Cash Exchange Page</h2>

<p>Dolar - Turkish Lira : @ViewBag.UsdToTry</p>
<p>Euro - Turkish Lira : @ViewBag.EurToTry</p>
<p>Great Britain Pound - Turkish Lira : @ViewBag.GbpToTry</p>


